@charset "UTF-8";

body{
    overflow: auto;
    width: 100%;
    height: 100%;
    margin: 0px;
    text-align: center;
    background-image: url(../img/bg.jpg);
}

.fadein {
    opacity: 0;
    animation: fadein 500ms ease forwards;
}
@keyframes fadein {
    100% {opacity: 1;}
}

#text01{
    animation-delay: 500ms;
}
#text02{
    animation-delay: 2000ms;
}
#text03{
    animation-delay: 3500ms;
}
#text04{
    animation-delay: 5000ms;
}
#text05{
    animation-delay: 6500ms;
}
#start{
    animation-delay: 10000ms;
}